@model Movie

<form action="/Home/AddMovieActor" method="post" autocomplete="off">
    <label>Filmin Resim URL'sini ekleyiniz.</label>
    <input type="text" class="form-control" placeholder="Enter ImageUrl" name="ImageUrl" value="@Model.ImageUrl">

    <label class="mt-3">Filmin Adını Giriniz.</label>
    <input type="text" class="form-control" placeholder="Enter Title" name="Title" value="@Model.Title">

    <label class="mt-3">Filmin Açıklamasını Giriniz.</label>
    <input type="text" class="form-control" placeholder="Enter Description" name="Description" value="@Model.Description">

    <label class="mt-3">Eklemek istediğiniz oyuncuyu seçiniz</label>
    <select class="form-select mt-3" name="ActorId">
        @foreach (var actor in Model.MovieActors)
        {
            <option value="@actor.ActorId">@actor.Actor.FullName</option>
        }
    </select>

    <button type="submit" class="btn btn-primary mt-3 w-100">Oyuncu Ekle</button>
</form>
